/* ============= STYLE RESET ============== */
html 
{
    box-sizing: inherit;
}
*, *::after, *::before
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
}
li
{
    list-style: none;
}