/* ============= STYLE RESET ============== */
html 
{
    box-sizing: border-box;
    height: 100vh;
    min-height: 100vh;
}
*, *::after, *::before
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
}
li
{
    list-style: none;
}
img 
{
    max-width: 200px;
    height: auto;
}
/* ============= CSS VARIABLES ============== */
:root 
{
    /* ------------ font family --------------- */
    --font-display: 'Poppins', sans-serif;
    --font-text: 'Poppins', sans-serif;
    /*------------- inline and block size --------------  */
    
    --header-block-size: clamp(30vh, 40vh + 20vw, 80vh);
    --header-nav-block-size: 5.5rem;
    --max-inline-size: 968px;
   
    /* -------------- color -------------*/
    
    --white-color: rgba(255, 255, 255, 1);
    --black-color: hsla(0, 0%, 0%, 1);
    --text-color: hsla(0,0%,100%,1);
    --button-text-color: hsla(352.8260869565217,79.99999999999999%,54.90196078431373%,1);
    --bg-color: var(--black-color);
    --bg-color-alt: hsla(352.8260869565217,79.99999999999999%,54.90196078431373%,1);

    /* ------------ font size -------------------*/
    --title-font-size: clamp(2rem, 2rem + 4vw, 2.8rem);
    --h2-font-size: clamp(1.25rem, 1.25rem + 3vw, 1.75rem);
    --h3-font-size: clamp(1.125rem, 1.125rem + 2.5vw, 1.25rem);
    --text-font-size: clamp(.938rem, .938rem + 2.5vw, 1rem);
    --small-font-size: clamp(.813rem, .948rem + 2.5vw, .875rem);

    /* ------------ font weight -----------------------*/
    --font-semi-bold: 600;
    --font-bold: 700;

    /* ------------------ margin --------------------*/
    --mb-1: .5rem;
    --mb-1-5: 0.75rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* ------------ padding ---------------- */
    --section-pd-top: clamp(3rem, 3rem + 4vw, 5rem);
    --section-pd-bottom: clamp(2rem, 2rem + 4vw, 3.5rem);
    --pd-0: .25rem;
    --pd-1: .5rem;
    --pd-2: 1rem;
    --pd-3: 1.5rem;
    --pd-4: 2rem;
    --pd-5: 2.5rem;

    /* -------------- line height --------------- */
    --line-height: 1.6;
    /* ------------- img size -------------- */
    --icon-size: clamp(0.9rem, 0.9rem + 5vw, 3.5rem);
    /* --------- transition --------------*/
    --transition-ease: 400ms ease;
    /* -------- z index ------------*/
    --z-index: 10;
    --z-index-below: -99;
}
/* ============== UTILITY CLASS =============== */
.container-bd {
    max-width: calc(100% - var(--mb-3) * 2);
    margin-inline: var(--mb-3);
}

body 
{
    background-color: var(--bg-color);
    min-height: 100vh;
}


nav 
{
    block-size: var(--header-nav-block-size);
    background-color: transparent;
}

/* =============== HEADER ==================*/
header 
{
    position: relative;
    padding-block-end: var(--section-pd-bottom);
}
.header__container 
{
    position: relative;
}
.logo__container 
{
    position: absolute;
    height: 90%;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.logo__container .logo-img 
{
    display: block;
    margin-block-start: var(--mb-5);
    width: 100%;
    max-width: 40rem;
    height: auto;
}

/*========== NAV ================== */
.nav 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
}
.nav__menu 
{
  
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-ease);
}
.nav__logo img 
{
    inline-size: var(--icon-size);
}
.nav__toggle 
{
    display: none;
    position: relative;
}
.menu__list 
{
    display: flex;
    align-items: center;
}
.list__item 
{
    font-size: var(--h2-font-size);
    margin-inline: var(--mb-1);
}
.list__item i.bx
{
    color: var(--white-color);
}

/* ===== HEADER: VIDEO CONTAINER =======*/

.video-bg
{
    width: 100%;
    height: 80vh;
    z-index: var(--z-index-below);
}
.video-bg
{
    object-fit: fill;
}






/* ============ JAVASCRIPT CLASS */

/* ---- toggle icon functionality ------ */
.toggle-clicked
{
    background-color: var(--black-color);
    z-index: var(--z-index);
    font-weight: var(--font-bold);
    position: absolute;
}

.toggle__line:nth-child(1).toggle-clicked
{
    position: absolute;
    transform: rotate(45deg) translateY(2px);
    background-color: var(--black-color); 
}
.toggle__line:nth-child(2).toggle-clicked
{
    position: absolute;
    transform: rotate(-45deg) translateY(-1px) translateX(-3px); 
    background-color: var(--black-color);
}
.nav__menu.show-menu 
{
    opacity: 1;
    left: 0;
    visibility: visible;
    z-index: var(--z-index);
}
.nav__menu.show-menu .list__item
{
    transform: translateY(0rem);

}
main 
{
    color: #fff;
}
/* ======================= MEDIA QUERIES ================= */


@media screen and (max-width: 51.25rem)
{
    /* 51.25rem = 820px*/
    

    header 
    {
        margin-block-start: var(--mb-4);
        position: relative;
        padding-block-end: initial;
    }
    .logo__container .logo-img 
    {
        width: 70%;
    }
    .nav__toggle 
    {
        display: initial;
    }
  
    .nav__menu 
    {
        position: absolute;
        visibility: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: var(--white-color);
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: var(--transition-ease);
        z-index: var(--z-index);
    }
    .menu__list 
    {
        display: flex;
        margin-block-start: auto;
        margin-block-end: var(--mb-6);
    }
    .list__item 
    {
        font-size: var(--h2-font-size);
        margin-inline: var(--mb-1);
        transform: translateY(3rem);
        transition: var(--transition-ease);
        
    }
    .list__item i.bx
    {
        color: var(--black-color);
    }
    /* -------- toggle icon -------------- */
    .toggle__line
    {
        display: block;
        width: 2rem;
        height: 1px;
        margin-block-start: var(--mb-1);
        background-color: var(--white-color);
        transition: var(--transition-ease);
        background-color: var(--white-color);
    }
    
    .nav__toggle 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: var(--pd-3);
        transition: var(--transition-ease);
        z-index: var(--z-index);
    }
    .video-bg
    {
        height: 40vh;
    }



}

@media screen and (min-width: 51.25rem)
{
    .nav 
    {
        padding-block-start: var(--section-pd-top);
        padding-inline: var(--pd-3);
    }
}